.filters {
  position: fixed;
  width: 350px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(27px);
  margin-right: 1px solid $light-color;
  box-shadow: $shadow;
  z-index: 2;
  transition: 0.5s;
  top: 70px;
  @include flex(flex-start, center, column);
  &__icon {
    position: fixed;
    z-index: 10;
    width: 60px;
    height: 60px;
    top: 100px;
    right: 0;
    border-radius: 50%;
    background-color: $white;
  }
  &__title {
    color: $secondary-color;
    margin-top: 70px;
  }
  &__columns {
    @include flex(center, flex-start, row);
    div {
      margin: 30px;
    }
  }
  form {
    width: auto;
    margin-top: 10px;
    line-height: 2em;
    label {
      font-size: 1.2rem;
      font-weight: $black;
      color: $secondary-color;
      padding-left: 10px;
      padding-top: 10px;
    }
  }
}

.separator {
  border-top: 2px solid $light-color;
}

.active {
  left: 0;
}
.inactive {
  left: -360px;
}
