//modal
.overlay {
  position: fixed;
  background: rgba(25, 25, 25, 0.7);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 8;
  @include flex;
  &__modal {
    background: $white;
    box-shadow: $shadow;
    width: 800px;
    height: 550px;
    border-radius: 5px;
    @include flex;
    @media screen and (max-width: 800px) {
      width: 90%;
      height: auto;
      @include flex(center, center, column);
    }
    &__image {
      position: relative;
      height: 100%;
      width: 50%;
      @include flex(center, center, column);
      @media screen and (max-width: 800px) {
        width: 100%;
        height: 200px;
      }
      &__bg {
        position: absolute;
        width: 260px;
        height: 100%;
        background-color: $primary-color;
        @media screen and (max-width: 800px) {
          width: 100%;
          height: 100%;
        }
      }
      img {
        z-index: 2;
        width: 100%;
        max-width: 400px;
        @media screen and (max-width: 800px) {
          width: 80%;
        }
      }
      &__logo {
        z-index: 3;
      }
    }
    &__info {
      position: relative;
      height: 100%;
      width: 50%;
      @include flex(space-around, center, column);
      @media screen and (max-width: 800px) {
        width: 98%;
        height: auto;
        @include flex(center, center, column);
      }
      &__description {
        margin-bottom: 10px;
      }
      &__title {
        margin-top: 8px;
        @include flex;
        font-size: 2em;
        font-weight: $black;
        color: $secondary-color;
        &__id {
          border: 4px solid $secondary-color;
          margin-left: 20px;
          padding: 3px;
          font-size: 35px;
        }
      }
      &__icons {
        font-size: 1em;
        @include flex;
        width: 100%;
        @include flex(space-around, center, row);
        margin-bottom: 10px;
        div {
          @include flex;
          width: auto;
          p {
            margin-left: 10px;
          }
        }
      }
      &__evolution {
        margin-top: 10px;
        color: $secondary-color;
        flex-wrap: wrap;
        margin-bottom: 50px;
        font-size: 1em;
        @include flex;
        &__card {
          @include flex;
          h3 {
            color: $white;
            background-color: $secondary-color;
            padding: 5px;
            border-radius: 5px;
            @media screen and (max-width: 800px) {
              font-size: 1em;
            }
          }
          div {
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
