.pokemoncard {
  position: relative;
  @include flex(center, center, column);
  background-color: $white;
  height: 316px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: $shadow;
  cursor: pointer;
  color: $secondary-color;
  margin: 10px;
  &__background {
    position: absolute;
    background-color: $primary-color;
    width: 195px;
    height: 195px;
    border-radius: 50%;
  }
  &__image {
    width: 250px;
    z-index: 1;
    top: 45px;
    right: 0;
    left: 20px;
    bottom: 0;
  }
  &__pokeball {
    width: 120px;
    height: 120px;
  }
  &__container {
    @include flex(center, center, column);
  }
}
