//variables & mixins

//colors
$primary-color: #ef4646;
$secondary-color: #797979;
$light-color: #c4c4c4;
$white: #ffffff;
$background-color: #f6f6f6;
//container
$container: 1152px;

//text-weight
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//box shadow
$shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

//display flex mixin
@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
